    @if (ViewData["Message"] != null)
{
    <div class="form-group row">
        <div class="offset-sm-2 col-sm-6">
            <div class="alert alert-@ViewData["MsgType"]">
                <text>@ViewData["Message"]</text>
            </div>
        </div>
    </div>
}
@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["MsgType"]">
        @TempData["Message"]
    </div>
}


@using MoneyExchangeWebApp.Models;
@model List<FAQ>;

<div class="container py-sm-5">
    <div class="row pt-4 justify-content-center">
        <div class=" col-6 ">
            <h2 class="text-dark">All Currency Trades</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-action="CreateFAQ" class="btn btn-dark">
                <i class="bi bi-plus-circle"></i> &nbsp; Create a new FAQ!
            </a>
        </div>
    </div>
    <br /><br />

    <div class="row py-2">
        <div class="col-sm-12 mx-auto">
            <div class="card rounded shadow border-0">
                <div class="card-body p-sm-10 bg-white rounded">
                    <div class="table-responsive">
                        <table id="FAQtable" class="table table-hover table-responsive" style="text-align:center; font-size:13px; ">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Question</th>
                                    <th>Answer</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (FAQ item in Model)
                                {
                                    <tr>
                                        <td>@item.FaqId</td>
                                        <td>@item.Question</td>
                                        <td>@item.Answer</td>
                                        <td>
                                            <a asp-controller="FAQ"
                                           asp-action="FAQEdit"
                                           asp-route-id="@item.FaqId"><i class="fas fa-edit" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit FAQ"></i></a>
                                            |
                                            <a asp-controller="FAQ"
                                           asp-action="FAQDelete"
                                           asp-route-id="@item.FaqId"><i class="fas fa-trash-alt" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete FAQ"></i></a>
                                           
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
@section Scripts{
<script>
    $(document).ready(function () {
        $('#FAQtable').DataTable({
            ordering: true,
            paging: true,
            searching: true,
            info: true,
            lengthChange: true,
            pageLength: 10
        });
    });
</script>
<script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
}