@using MoneyExchangeWebApp.Models;
@model List<Account>

    @if (TempData["Message"] != null)
{
   <div class="alert alert-@TempData["MsgType"]">
      @TempData["Message"]
   </div>
}

    <div class="container py-sm-5">
            <header class="text-center text-black">
                <h1 class="display-2"><b>Accounts</b></h1>
            </header>
            <div class="row py-4">
                <div class="col-sm-8 mx-auto">
                    <div class="card rounded shadow border-0">
                        <div class="card-body p-sm-5 bg-white rounded">
                            <div class="table-responsive">
                                <table class="table table-hover table-responsive" style="text-align:center">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Username</th>
                                            <th>Password</th>
                                            <th>Name</th>
                                            <th>Role</th>
                                            <th>Date Created</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (Account item in Model)
                                        {
                                            <tr>
                                                <td>@item.account_id</td>
                                                <td>@item.username</td>
                                                <td>@item.password</td>
                                                <td>@item.name</td>
                                                <td>@item.role</td>
                                                <td>@item.date_created.ToShortDateString()</td>
                                                <td>
                                                    <a asp-controller="Account" 
                                                    asp-action="EditUsers" 
                                                    asp-route-id="@item.account_id"><i class="fas fa-pencil-alt"></i> </a>
                                                    |
                                                    <a asp-controller="Account" 
                                                    asp-action="Delete"
                                                    asp-route-id="@item.account_id"
                                                    onclick="return confirm('Delete Account [@item.name]')"> <i class="fas fa-trash-alt"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
