@using MoneyExchangeWebApp.Models;
@model List<ConvTransaction>

    @if (TempData["Message"] != null)
{
   <div class="alert alert-@TempData["MsgType"]">
      @TempData["Message"]
   </div>
}

    <div class="container py-sm-5">
            <header class="text-center text-black">
                <h1 class="display-2"><b>Deleted Transactions</b></h1>
            </header>
            <div class="row py-5">
                <div class="col-sm-12 mx-auto">
                    <div class="card rounded shadow border-0">
                        <div class="card-body p-sm-6 bg-white rounded">
                            <div class="table-responsive">
                                <table class="table table-hover table-responsive" style="text-align:center">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Source</th>
                                            <th>Source Amount</th>
                                            <th>Converted Currency</th>
                                            <th>Converted Amount</th>
                                            <th>Exchange Rate</th>
                                            <th>Date</th>
                                            <th>Created By</th>
                                            <th>Deleted By</th>
                                            <th>Deleted Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (ConvTransaction item in Model)
                                        {
                                            <tr>
                                                <td>@item.TransactionId</td>
                                                <td>@item.BaseCurrency</td>
                                                <td>@item.BaseAmount</td>
                                                <td>@item.QuoteCurrency</td>
                                                <td>@item.QuoteAmount</td>
                                                <td>@item.ExchangeRate</td>
                                                <td>@item.TransactionDate.ToShortDateString()</td>
                                                <td>@item.DoneBy</td>
                                                <td>@item.DeletedBy</td>
                                                <td>@item.DeletedDate.ToShortDateString()</td>
                                                <td>
                                                    <a asp-controller="Transaction" 
                                                    asp-action="RecoverTransaction" 
                                                    asp-route-id="@item.TransactionId"><i class="fas fa-plus-circle"></i> </a>
                                                    |
                                                    <a asp-controller="Transaction" 
                                                    asp-action="PermanentDelete"
                                                    asp-route-id="@item.TransactionId"
                                                    onclick="return confirm('Delete Transaction [@item.TransactionId] Permanently')"> <i class="fas fa-trash-alt"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
