@using MoneyExchangeWebApp.Models;
@model List<Transaction>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Transaction list</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Transaction" asp-action="CreateTransaction" class="btn btn-primary">
                <i class="bi bi-plus-circle">&nbsp; Create New Transaction</i>
            </a>
        </div>
    </div>
</div>
<br /><br />

<table class="table table-bordered table-striped table-hover table-responsive" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Source</th>
            <th>Source Amount</th>
            <th>Converted Currency</th>
            <th>Converted Amount</th>
            <th>Exchange Rate</th>
            <th>Date</th>
            <th>Created By</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Transaction item in Model)
        {
            <tr>
                <td>@item.TransactionId</td>
                <td>@item.BaseCurrency</td>
                <td>@item.BaseAmount</td>
                <td>@item.QuoteCurrency</td>
                <td>@item.QuoteAmount</td>
                <td>@item.ExchangeRate</td>
                <td>@item.TransactionDate.ToShortDateString()</td>
                <td>@item.DoneBy</td>
                <td>
                    <a asp-controller="Transaction" 
                    asp-action="TransactionEdit" 
                    asp-route-id="@item.TransactionId"><i class="fas fa-pencil-alt"></i> </a>
                    |
                    <a asp-controller="Transaction" 
                    asp-action="SoftDelete"
                    asp-route-id="@item.TransactionId"> <i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>