@using MoneyExchangeWebApp.Models
@section MoreScripts {
   <link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
   <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>

   <script>
      $(document).ready(function () {
         $('#tDOWtable')DataTable({
            ordering: false,
            paging: true,
            searching: false,
            info: false, 
            lengthChange: false,
            pageLength: 5
         });
      });
   </script>
}
@model List<DepWithTransactions>

    <div class="container py-sm-5">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">Transaction List</h2>
            </div>
@*            <div class="col-6 text-end">
                <a asp-action="CreateConvTransaction" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> &nbsp; Create new Transaction
                </a>
            </div>*@
    </div>
    <br/><br/>

        <div class="row py-5">
            <div class="col-sm-15 mx-auto">
                <div class="card rounded shadow border-0">
                    <div class="card-body p-sm-10 bg-white rounded">
                        <div class="table-responsive">
                            <table id="tDOWtable"  class="table table-hover table-responsive" style="text-align:center">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>ISO</th>
                                        <th>Transaction Type</th>
                                        <th>Amount</th>
                                        <th>Date</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(DepWithTransactions DWT in Model)
                                    {
                                    <tr>
                                        <td>@DWT.TransactionId</td>
                                        <td>@DWT.ISO</td>
                                        <td>@DWT.DepOrWith</td>
                                        <td>@DWT.Amount</td>
                                        <td>@DWT.TransactionDate.ToShortDateString()</td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>