@using MoneyExchangeWebApp.Models
@model List<Enquiry>

    @if (TempData["Message"] != null)
{
   <div class="alert alert-@TempData["MsgType"]">
      @TempData["Message"]
   </div>
}


    <header class="text-center text-black">
        <h1 class="display-2"><b>All Enquiries</b></h1>
    </header>
    <div class="row py-5">
        <div class="col-sm-11 mx-auto">
                    <div class="table-responsive">
                        <table id="EnqTbl"class="table table-hover table-responsive" style="text-align:left">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Guest Email</th>
                                    <th>Subject</th>
                                    <th>Enquiry</th>
                                    <th>Date Submitted</th>
                                    <th>Status</th>
@*                                    <th>Answer</th>
                                    <th>Answered By</th>
                                    <th>Answered Date</th>*@
                                    <th>Actions</th>
                                </tr>
                            </thead>

@*                            <tbody>
                                @foreach (Enquiry item in Model)
                                {
                                    <tr>
                                        <td>@item.EmailAddress</td>
                                        <td>@item.Subject</td>
                                        <td>@item.Question</td>
                                        <td>@item.EnquiryDate.ToShortDateString()</td>
                                        <td>@item.Status</td>
                                        <td>@item.Answer</td>
                                        <td>@item.AnsweredBy</td>
                                        <td>@item.AnswerDate.ToShortDateString()</td>
                                        <td>
                                            <a asp-controller="Enquiry" 
                                            asp-action="EnquiryReply" 
                                            asp-route-id="@item.EnquiryId"><i class="bi bi-envelope-plus"></i> </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>*@
                        </table>
                    </div>
                </div>
            </div>

 @section Scripts{
    <script src="~/js/DatatablesJS/Enquiry.js"></script>
}